<div class="container new-design-container">
  <div id="newrequest-form-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#newrequest-form-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#newrequest-form-carousel" data-slide-to="1"></li>
      <li data-target="#newrequest-form-carousel" data-slide-to="2"></li>
    </ol>
    <%= simple_form_for @attachment, url: designs_path, method: :post do |f| %>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h2>Upload your inspiration photo</h2>
          <%= f.input :file %>
          <%= f.input :file_cache, as: :hidden %>
          <a class="" href="#newrequest-form-carousel" role="button" data-slide="next">
            test next
          </a>
        </div>
        <div class="item">
          <h2>Describe us a little bit what you want</h2>
          <%= simple_fields_for :design do |d| %>
            <%= d.input :name %>
            <%= d.input :description, label: "Description of Design" %>
            <%= d.input :category, collection: Category.category_name %>
          <% end %>
          <a class="" href="#newrequest-form-carousel" role="button" data-slide="next">
            test next
          </a>
          <a class="" href="#newrequest-form-carousel" role="button" data-slide="prev">
            test previous
          </a>
        </div>
         <div class="item">
          <h2>third item man</h2>
          <%= simple_fields_for :request do |r| %>
            <%= r.input :description, label: "What Changes do you want made?" %>
          <% end %>
          <%= simple_fields_for :contribution do |c| %>
            <%= c.input :tokens, required: true, input_html: { type: :text, id: "ex6", data: { slider_min: '0', slider_step: '1', slider_max: current_user.wallet.tokens, slider_value: "0" } } %>
          <% end %>
          <%= f.submit "Upload Design", class: "button" %>
          <%= link_to "Cancel", :back, class: "button-red" %>
          <a class="" href="#newrequest-form-carousel" role="button" data-slide="prev">
            test previous
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
