
<div class="container new-design-container">
  <h2>Upload your Design</h2>
  <div class="row">
    <%= simple_form_for @attachment, url: designs_path, method: :post do |f| %>
    <div class="col-lg-6">
      <%= f.input :file %>
      <%= f.input :file_cache, as: :hidden %>
    </div>
    <div class="col-lg-6">
      <%= simple_fields_for :design do |d| %>
      <%= d.input :name %>
      <%= d.input :description, label: "Description of Design" %>
      <%= d.input :category, collection: Category.category_name %>
      <% end %>
      <%= simple_fields_for :request do |r| %>
      <%= r.input :description, label: "What Changes do you want made?" %>
      <% end %>
      <%= simple_fields_for :contribution do |c| %>
      <%= c.input :tokens, required: true, input_html: { min: '1', step: 'any', max: current_user.wallet.tokens } %>
      <% end %>
      <%= f.submit "Upload Design", class: "button" %>
      <% end %>
      <%= link_to "Cancel", :back, class: "button-red" %>
    </div>
  </div>
</div>

