<div class="container">
  <div class="row">
    <div class="dashboard-banner">
      <div class="col-sm-12 col-md-4 col-md-push-8">
        <%= image_tag("present-tokens.png") %>
      </div>
      <div class="col-sm-12 col-md-8 col-md-pull-4">
        <div class="sharetokens">
          <div class="sharetokens-title">
            <h2>Choose your next Creation!</h2>
          </div>
          <div class="sharetokens-description">
            <p>Give your friends 25 tokens to try PoP, and you will also get 10 tokens when they make their first contribution.</p>
            <%= link_to "Invite Friends", "www.facebook.com", class: "button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="tabs">
    <div class="tab active" data-page="#projects">
      <!-- <a href="#projects"> -->
      Ongoing Projects
    <!-- </a> -->
    </div>
    <div class="tab" data-page="#contributions">
      <!-- <a href="#contributions"> -->
        Pending Projects
      <!-- </a> -->
    </div>
    <div class="tab" data-page="#orders">
      <!-- <a href="#orders"> -->
        Billing History
      <!-- </a> -->
    </div>
  </div>
</div>

<div class="container">
  <div id="projects" class="tab-section active">
    <h2>Ongoing Projects</h2>
    <div class="row">
      <% @projects.uniq.each do |project| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render 'shared/project-card', project: project %>
      </div>
      <% end %>
    </div>
  </div>

  <div id="contributions" class="tab-section">
    <h3>Requests Awaiting Designer</h3>
    <% @contributions.order(created_at: :desc).first(10).each do |contribution| %>
    <h4>Your Contribution: <%= contribution.tokens %> tokens</h4>
    <div>Change Request: <%= contribution.request.description %></div>
    <%= render 'shared/card', design: contribution.request.design %>
    <% end %>
  </div>

  <div id="orders" class="tab-section">
    <h1>Billing History</h1>
    <% @orders.each do |order| %>
    <div class="order">
      <div><strong>Order ID: <%= order.id %></strong></div>
      <div>Status: <%= order.state %></div>
      <div>Item: <%= order.token_sku %> Tokens</div>
      <div>Amount: <%= humanized_money_with_symbol(order.amount) %></div>
    </div>
    <% end %>
  </div>
</div>
