<div class="container dashboard-banner">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 col-lg-push-8">
      <%=  image_tag("present-tokens.png") %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-lg-pull-4">
      <div class="sharetokens">
        <div class="creation">
          <h2>Choose your next Creation!</h2>
        </div>
        <div class="creation-subtitle">Give your friends 25 tokens to try PoP, and you will also get 10 tokens when they make their first contribution.</div>
      </div>
    </div>
  </div>
</div>

<div class="container">

      <div class="projects">
        <h2>Ongoing Projects</h2>
        <div class="row">
        <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <%= render 'shared/project-card', project: project %>

        </div>
        <% end %>
        </div>
      </div>


      <div class="contributions">
        <h3>Awaiting Designer</h3>
        <% @contributions.first(4).each do |contribution| %>
        <div>Amount: <%= contribution.tokens %></div>
        <%= render 'shared/card', design: contribution.request.design %>
        <% end %>
      </div>



  <div class="orders">
    <h1>Billing History</h1>
    <% @orders.each do |order| %>
    <div class="order">
      <div>Order ID: <%= order.id %></div>
      <div>Status: <%= order.state %></div>
      <div>Item: <%= order.token_sku %> Tokens</div>
      <div>Amount: <%= humanized_money_with_symbol(order.amount) %></div>
    </div>
    <% end %>
  </div>
</div>
