<div class="container">
  <div class="profile-card-container">
    <% if current_user == @user %>
      <h2>Your Profile</h2>
    <% else %>
      <h2><%= @user.username %></h2>
    <% end %>
    <div class="profile-card-layout text-center">
      <div class="profile-card-line"><hr></div>
        <div class="profile-avatar text-center">
          <%= cl_image_tag @user.photo, class: "avatar large" %>
        </div>
        <div class="profile-username">Username: <%= @user.username %></div>
        <div class="profile-card-line"><hr></div>
        <div class="profile-name"><%= @user.full_name %></div>
        <div class="profile-card-line"><hr></div>
        <% if @user.designer %>
            <div><%= @user.designer.description %></div>
            <div class="profile-card-line"><hr></div>
            <div><%= @user.designer.experience %></div>
            <div class="profile-card-line"><hr></div>
            <div><%= @user.designer.website %></div>
        <% else %>
          <div>Contributions: <%= @user.contributions.size %></div>
          <% if @user.printer.presence %>
          <div class="profile-card-line"><hr></div>
          <div class="profile-email-other">3D Printer: <%= @user.printer %></div>
          <% end %>
        <% end %>
        <% if current_user == @user %>
          <div class="profile-card-line"><hr></div>
          <div class="profile-card-actions">
            <button type="button" class="button" data-toggle="modal" data-target="#myModal">Edit Profile</button>
            <%= link_to "reset password", edit_user_registration_path, class: "button" %>
            <%= render 'shared/modal_edit_profile' %>
            <%= link_to "Delete", destroy_user_profile_path, data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, class: "button-red" %>
          <% else %>
            <div class="profile-card-return-action"><%= link_to "Back", :back, class:"button" %></div>
          </div>
        <% end %>
    </div>
  </div>
</div>
<%= render "shared/topup-sticky" %>
<!-- if current user display Your Profile
else display <%= current_user.id %> profile -->



