<div class="profile-card">


  <div class="profile-card-content text-center">
    <div class="profile-title">
      <% if current_user == @user %>
      <h1>Your Profile</h1>
      <% else %>
      <h1><%= @user.username %></h1>
      <% end %>
    </div>
    <div class="profile-card-line"><hr></div>
    <span>
      <div class="profile-avatar text-center">
        <%= cl_image_tag @user.photo, class: "avatar large" %>
      </div>
    </span>
    <div class="profile-card-line"><hr></div>
    <div class="profile-name"><%= @user.full_name %></div>
    <div class="profile-card-line"><hr></div>
    <div class="profile-email"><%= @user.email %></div>
    <% if current_user == @user %>
    <div class="profile-card-line"><hr></div>
    <button type="button" class="button" data-toggle="modal" data-target="#myModal">Edit Profile</button>
    <%= link_to "reset password", edit_user_registration_path, class: "button" %>
    <%= render 'shared/modal_edit_profile' %>
    <%= link_to "Delete", destroy_user_profile_path, data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, class: "button-red" %>
      <% end %>
  </div>
</div>

<!-- if current user display Your Profile
else display <%= current_user.id %> profile -->



