<div class="container">
  <div class="password-reset-card-container">

    <h2>Forgot your password?</h2>
    <div class="password-reset-card-line"><hr></div>
    <div class="password-reset-card-layout">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="password-reset-card-form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        </div>
        <div class="password-reset-card-line"><hr></div>
        <div class="password-reset-card-form-actions">
        <%= f.button :submit, "Send me reset password instructions" %>
        </div>
      <% end %>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
