<div class="container">
  <div class="password-reset-card-container">

    <h2>Forgot your password?</h2>
    <div class="password-reset-card-line"><hr></div>
    <div class="password-reset-card-layout">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="password-reset-card-form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        </div>
        <div class="password-reset-card-line"><hr></div>
        <div class="password-reset-card-form-actions">
        <%= f.button :submit, "Send me reset password instructions", class:"button" %>
      <% end %>
      <div class="password-reset-card-line"><hr></div>
      <%= link_to "Back", :back, class:"password-reset-return button" %>
      <div class="password-reset-card-line"><hr></div>
      <p><%- if controller_name != 'sessions' %>
        Already have an account?
        <%= link_to "Log in", new_session_path(resource_name), class: "button" %><br />
      <% end -%></p>
      <br>
      <p><%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        Already have an account?
        <%= link_to "Sign up", new_registration_path(resource_name), class: "button" %>
      <% end -%></p>
      </div>
    </div>
  </div>
</div>
