<div class="card-wrapper">
  <div class="card-container">
    <% if design.requests.present? %>
      <div class="card-header">
        <span class="card-avatar">
          <!-- design or request users avatar -->
            <%= image_tag design.requests.first.user.photo, class: "avatar small" %>
        </span>
        <span class="card-name">
          <!-- user-name -->
          <%= design.requests.first.user.username %>
        </span>
        <span class="card-category">
          <!-- design/request category -->
          <%= design.category.name %>
        </span>
        <span class="card-timespan">
          <!-- • date_created - date now -->
          <%= design.requests.first.created_time_ago %>
        </span>
      </div>
    <% end %>
    <div class="card-body">
      <%= link_to design, class: "card-details-header" do %>
        <div>
          <!-- design image -->
          <% if design.attachments.first.file %>
          <%= image_tag design.attachments.first.file , class: "card-image" %>
          <% else %>
          <img src="http://www.toezonefootwear.com/ToezoneIndonesia/protected/resources/assets/images/300px-No_image_available.png" alt="" class="card-image">
          <% end %>
        </div>
        <div class="card-details">
          <div>
            <div class="card-title">
              <!-- Title of Design or Request (new or change) -->
              <h2><%= design.name %></h2>
            </div>
            <div class="card-description">
              <!-- small description of design or request || We can use truncate method in ruby to put [...] after description -->
              <div class="card-description-text">
                <%= design.description %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card-footer"> <!-- only if request? -->
          <div class="card-pool">
            <!-- Agretated amount of rewards -->
              <button type="button"  class="transparent-button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                <i class="fas fa-money-bill-wave"></i><%= design.requests.first.total_tokens/5 if !design.requests.empty? %> € <i class="fas fa-caret-down"></i>
              </button>
          </div>
          <div class="card-contributors">
            <!-- number of contributors -->
            <span class="hovered"><i class="fas fa-users"></i> <%= design.requests.first.contributions.size if !design.requests.empty? %></span>
          </div>
          <div class="card-share">
            <!-- button to share in FB/Twitter to power visibility, make modal or dropdown to share -->
            <button type="" class="transparent-button" data-toggle="modal" data-target="#shareModal"><i class="fas fa-share-square"></i></button>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
