<div class="project-card">
  <div class="project-card-banner" style="background-image: url(
    <% if project.file %>
      <%= image_path project.file %>)
    <% else %>
      url("https://szempatiaoptika.hu/UserFiles/Image/no-image-icon.jpg")
    <% end %>">
  </div>
  <div class="designer-avatar text-center">
    <%= image_tag project.user.photo, class: "avatar" %>
  </div>
  <div class="project-card-content text-center">
    <div class="project-designer"> <%= project.user.username %></div>
    <div class="project-name">Project: <%= project.id %></div>
    <div class="project-status">Status: <%= project.status %></div>
    <div class="project-pool">Total Contributions Raised: <%= project.accepted_price %></div>
  </div>
</div>
