<div class="project-card">
  <div class="project-card-banner" style="background-image: url(
    <% if project.file.presence %>
      <%= image_path project.file %>
    <% else %>
      <%= image_path project.request.design.attachments.first.file %>
    <% end %>)">
  </div>
  <div class="designer-avatar text-center">
    <%= cl_image_tag project.designer.user.photo, class: "avatar" %>
  </div>
  <div class="project-card-content text-center">
    <div class="project-designer">Designer: <%= project.designer.user.username %></div>
    <div class="project-card-line"><hr></div>
    <!-- <div class="project-name">Project: <%#= project.id %></div> -->
    <div class="project-status">Status: <%= project.status %></div>
    <div class="project-card-line"><hr></div>
    <div class="project-link"><%= link_to "See Project Details", project_path(project) %></div>
    <div class="project-card-line"><hr></div>
    <div class="project-files">
      <% if project.file %>
        <a href="#">Download Files</a>
      <% else %>
        Awaiting design files
      <% end %>
    </div>
  </div>
</div>
