<div class="project-card">
  <div class="project-card-banner" style="background-image: url(
    <% if project.file.presence %>
      <%= image_path project.file %>
    <% else %>
      https://res.cloudinary.com/lancekrp/image/upload/v1534162640/no_image.png
    <% end %>)">
  </div>
  <div class="designer-avatar text-center">
    <%= cl_image_tag project.user.photo, class: "avatar" %>
  </div>
  <div class="project-card-content text-center">
    <div class="project-designer">Designer: <%= project.user.username %></div>
    <div class="project-card-line"><hr></div>
    <div class="project-name">Project: <%= project.id %></div>
    <div class="project-status">Status: <%= project.status %></div>
    <div class="project-card-line"><hr></div>
    <div class="project-link"><%= link_to "See Project Details", project_path(project) %></div>
    <div class="project-card-line"><hr></div>
    <div class="project-files">
      <% if project.file %>
        <a href="#">Download Files</a>
      <% else %>
        Awaiting design files
      <% end %>
    </div>
  </div>
</div>
