<div class="card-wrapper">
  <div class="card-container">

      <div class="card-header">
        <span class="card-avatar">
          <!-- design or request users avatar -->
            <%= image_tag "thingiverse-avatar.png", class: "avatar small" %>
        </span>
        <span class="card-name">
          <!-- user-name -->
          thingiverse
        </span>
        <span class="card-category">
          <!-- design/request category -->
          <!-- need to figure out how to grab category from thingiverse -->
        </span>
      </div>
    <div class="card-body">

        <div>
          <!-- design image -->
          <%= image_tag thing.thumbnail , class: "card-image" %>

        </div>
        <div class="card-details">
          <div>
            <div class="card-title">
              <!-- Title of Design or Request (new or change) -->
              <h2><%= thing.name %></h2>
            </div>
            <div class="card-description">
              <!-- small description of design or request || We can use truncate method in ruby to put [...] after description -->
              <div class="card-description-text">
                <%= thing.description %>
              </div>
            </div>
          </div>

        <div class="card-footer"> <!-- only if request? -->

            <div class="card-footer-alt">
              <%= link_to "Open a request to improve this design", new_design_request_path(thing) %>
            </div>

        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

