<%= render "shared/banner" do %>
  <%= render "shared/searchbar" %>
<% end %>


<section class="home-benefits">
  <div class="container">
    <div class="vision-container">
      <div class="vision-header">
        <h5>The Vision</h5>
      </div>
      <div class="vision-body">
        <h2>The Pool of Printables</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
      </div>
    </div>
    <div class="benefits-body">
      <div class="benefits">
        <div class="benefit">
          <div class="benefit-icon">
            <i class="fas fa-hand-spock"></i>
          </div>
          <div class="benefit-title">
            <h4>Benefit 1</h4>
          </div>
          <div class="benefit-description">
            <p>Oh wow this is a very good benefit, I guess I should sign up right away!</p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-icon">
            <i class="fas fa-hand-peace"></i>
          </div>
          <div class="benefit-title">
            <h4>Benefit 2</h4>
          </div>
          <div class="benefit-description">
            <p>Oh wow this is a very good benefit, I guess I should sign up right away!</p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-icon">
            <i class="fas fa-hand-lizard"></i>
          </div>
          <div class="benefit-title">
            <h4>Benefit 3</h4>
          </div>
          <div class="benefit-description">
            <p>Oh wow this is a very good benefit, I guess I should sign up right away!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-md-12">
          <h4 class="how-homepage_title">Your chance to get your own custom design online
          </h4>
          <p>Pool of Printables is the world's smallest network of 3D Design Hubs. With services connected in over -1 countries, we'll connect you to your fellow 3D enthusiasts worldwide!</p>
        </div>
        <div class="col-md-12 flex">
          <div class="how-number-container">
            <div class="how-number">1</div>
          </div>
          <div class="flex-item-1">
            <h4 class="how-ho">Upload your design request</h4>
            <p class="how-paragraph">Have a design you want to see come to fruition? Request a 3D design idea and upload it to our site.</p>
          </div>
        </div>
        <div class="col-md-12 flex">
          <div class="how-number-container">
            <div class="how-number">2</div>
          </div>
          <div class="flex-item-1">
            <h4 class="how-ho">Raise fund for a project with your fellow users!</h4>
            <p class="how-paragraph">Is the design you want out of your price range? No problem! Buy tokens and make contrubutions towards a design you want built along side your fellow users.</p>
          </div>
        </div>
        <div class="col-md-12 flex">
          <div class="how-number-container">
            <div class="how-number">3</div>
          </div>
          <div class="flex-item-1">
            <h4 class="how-ho">Receive your design</h4>
            <p class="how-paragraph">Once you and your fellow contributors have raised enough tokens, our own validated designers will take the project. Recieve your design is let than a week</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-md-12"><img src="https://cdn.thingiverse.com/renders/e5/ee/15/d0/23/418715ca8a3e333c43494f3b3bbec44a_preview_featured.jpg" alt="" class="how-picture"></div>
    </div>
  </div>
 </div>


 <h2 class="text-center">New In 3D Printing!</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to "https://www.designnews.com/materials-assembly/researcher-s-own-brain-tumor-inspires-new-way-model-patient-data-3d-printing/191058725259102" do %>
        <div class="article-card">
          <div class="article-image">
            <img class="news-card" src="https://www.designnews.com/sites/default/files/3dmodelfoot.jpg">
          </div>
          <div class="article-title">
            <h2>The Researcher’s Own Brain Tumor Inspires New Way to Model Patient Data for 3D Printing</h2>
          </div>
          <div class="article-description">
            <p>Researchers at MIT and Harvard have collaborated on a process for creating complex and accurate 3D models of the human brain and other organs, parts, and systems in the human body for enhanced patient data</p>
          </div>
          <div class="article-date">
            <p>26 of may 2018</p>
          </div>
        </div>
      <% end %>
    </div>
       <div class="col-xs-12 col-sm-4">
      <%= link_to "https://all3dp.com/4/indiana-university-uffizi-gallery-collaborate-3d-scan-ancient-artifacts/" do %>
        <div class="article-card">
          <div class="article-image">
            <img class="news-card" src="https://all3dp.com/app/uploads/2018/08/Screen-Shot-2018-08-09-at-14.40.58-e1533822464815.png">
          </div>
          <div class="article-title">
            <h2>Indiana University and Uffizi Gallery Collaborate to 3D Scan Ancient Artifacts</h2>
          </div>
          <div class="article-description">
            <p>Indiana University and the Uffizi Gallery in Florence, Italy are collaborating to digitize ancient artifacts and sculptures, some of which are now available to view in 3D on a newly launched website.</p>
          </div>
          <div class="article-date">
            <p>26 of may 2018</p>
          </div>
        </div>
      <% end %>
    </div>
       <div class="col-xs-12 col-sm-4">
      <%= link_to "https://all3dp.com/4/air-new-zealand-starts-3d-print-airplane-parts-tools/" do %>
        <div class="article-card">
          <div class="article-image">
            <img class="news-card" src="https://all3dp.com/app/uploads/2018/08/nz-planes-on-tarmac-christchurch-sunset-2100x1050__ScaleMaxWidthWzEwNDBd-e1533813355965.jpg">
          </div>
          <div class="article-title">
            <h2>Air New Zealand Start to 3D Print Airplane Parts and Tools</h2>
          </div>
          <div class="article-description">
            <p>Air New Zealand has partnered with Zenith Tecnica, a company which specializes in 3D printing titanium, and will be using its equipment, such as Arcam's Electron Beam Melting (ERM) process to develop parts and tools.</p>
          </div>
          <div class="article-date">
            <p>26 of may 2018</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
