<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= render "shared/banner" do %>
<%= render "shared/searchbar" %>
<% end %>

<h3 class="benefitsheader">Benefits of POP!</h3>
<section class="benefit">
  <div class="benefitswrap">
    <div class="benefits">
      <div class="image-container">
        <%= image_tag("network.svg", class: "mini-logo-benefits") %>
        <p class="benefitsparagraph1">Co-ordinate with fellow contributors for a design of your choice</p>
      </div>
      <div class="image-container">
        <%= image_tag("sketch.svg", class: "mini-logo-benefits") %>
        <p class="benefitsparagraph">Get your very own design for a fraction of the cost</p>
      </div>
      <div class="image-container">
        <%= image_tag("eco.svg", class: "mini-logo-benefits") %>
        <p class="benefitsparagraph">We are Eco Friendly!</p>
      </div>
      <div class="image-container">
        <%= image_tag("social-care.svg", class: "mini-logo-benefits") %>
        <p class="benefitsparagraph4">Join a vibrant community of fellow 3D Fans!</p>
      </div>
    </div>
  </div>
</section>
 <br>
 <br>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-md-12">
          <h4 class="how-homepage_title">Your chance to get your own custom design online
          </h4>
          <p>Pool of Printables is the world's smallest network of 3D Design Hubs. With services connected in over -1 countries, we'll connect you to your fellow 3D enthusiasts worldwide!</p>
        </div>
        <div class="col-md-4">
          <span class="how-number">1</span>
          <h4 class="how-ho">Upload your design request</h4>
          <p class="how-paragraph">Have a design you want to see come to fruition? Request a 3D design idea and upload it to our site.</p>
        </div>
        <div class="col-md-4">
          <span class="how-number">2</span>
          <h4 class="how-ho">Raise fund for a project with your fellow users!</h4>
          <p class="how-paragraph">Is the design you want out of your price range? No problem! Buy tokens and make contrubutions towards a design you want built along side your fellow users.</p>
        </div>
        <div class="col-md-4">
          <span class="how-number">3</span>
          <h4 class="how-ho">Receive your design</h4>
          <p class="how-paragraph">Once you and your fellow contributors have raised enough tokens, our own validated designers will take the project. Recieve your design is let than a week</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-md-12"><img src="https://cdn.thingiverse.com/renders/e5/ee/15/d0/23/418715ca8a3e333c43494f3b3bbec44a_preview_featured.jpg" alt="" class="how-picture"></div>
    </div>
  </div>
 </div>

<h5>New in 3D Printing Design</h5>
<div class="container">
  <div class="grid">
    <div class="news">
      <a href="https://www.designnews.com/materials-assembly/researcher-s-own-brain-tumor-inspires-new-way-model-patient-data-3d-printing/191058725259102"></a>
      <div class="news-card"><img src="https://www.designnews.com/sites/default/files/3dmodelfoot.jpg" alt="Researcher’s Own Brain Tumor Inspires New Way to Model Patient Data for 3D Printing"></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>




<section class="companies">
  <h3>Companies & Partners that love us</h3>
  <p>Apple</p>
  <p>Greenpeace</p>
  <p>Pentagram</p>
</section>
