<%= render "shared/banner" do %>
  <%= render "shared/searchbar" %>
<% end %>
<% if user_signed_in? %>
  <%= render "shared/topup-sticky" %>
<% end %>

<section class="home-benefits">
  <div class="container">
    <div class="vision-container">
      <div class="vision-header">
        <h5>The Vision</h5>
      </div>
      <div class="vision-body">
        <h2>The Pool of Printables</h2>
        <p>We are contributing to the 3D revolution by enabling a transparent exchange between 3D printer owners and 3D designers. We aim to boost a sustainable model of consumption by gradually transfoming consumers into makers.</p>
      </div>
    </div>
    <div class="benefits-body">
      <div class="benefits">
        <div class="benefit">
          <div class="benefit-icon">
            <%= image_tag "piggy-bank.svg" %>
          </div>
          <div class="benefit-title">
            <h4>Save money</h4>
          </div>
          <div class="benefit-description">
            <p>Share the cost of your 3D design with your fellow contributors</p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-icon">
            <%= image_tag "printingquality.svg" %>
          </div>
          <div class="benefit-title">
            <h4>HQ 3D designs</h4>
          </div>
          <div class="benefit-description">
            <p>You will be getting verifed, ready-to-print 3D designs, <span>every time</span></p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-icon">
            <%= image_tag "p2p-icon.png" %>
          </div>
          <div class="benefit-title">
            <h4>P2P economy</h4>
          </div>
          <div class="benefit-description">
            <p>Boost the 3D community with a system of rewards for all members</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-howto">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="howto-header">
          <div class="howto-header-title">
            <h3>The platform that allows you to collectively fund ready-to-print 3D designs</h3>
          </div>
          <div class="howto-header-description">
            <p>PoP is the world's first 3D designs crowdfunding platform. We connect 3D printer owners with common needs so they can find their tested 3D designers to get the job done.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="howto-col-container">
        <div class="col-md-6 col-lg-5">
          <div class="howto-step first-step">
            <div class="step-container">
              <div class="step-header-icon">
                <%= image_tag "step1.svg" %>
              </div>
              <div class="step-content">
                <h4>Browse through hundred of requests</h4>
                <p>Our geometry analyser will give you instant feedback on manufacturability, suggesting the best processes based on your parts design.</p>
              </div>
            </div>
          </div>
          <div class="howto-step second-step">
            <div class="step-container">
              <div class="step-header-icon">
                <%= image_tag "step2.svg" %>
              </div>
              <div class="step-content">
                <h4>Send your request to our network of designers</h4>
                <p>Our geometry analyser will give you instant feedback on manufacturability, suggesting the best processes based on your parts design.</p>
              </div>
            </div>
          </div>
          <div class="howto-step third-step">
            <div class="step-container">
              <div class="step-header-icon">
                <%= image_tag "step3.svg" %>
              </div>
              <div class="step-content">
                <h4>Get your 3D design in a ready-to-print quality</h4>
                <p>Our geometry analyser will give you instant feedback on manufacturability, suggesting the best processes based on your parts design.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="howto-map">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-populars">
  <div class="container">
    <div class="home-populars-title">
      <h2>Trending now</h2>
    </div>
    <div class="row">
      <% @designs.first(4).each do |design| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= render 'shared/home_page_popular_card', design: design %>
      </div>
      <% end %>
    </div>
  </div>
</section>
