<%= render "shared/banner" do %>
  <%= render "shared/searchbar" %>
<% end %>

<section class="home-benefits">
  <div class="container">
    <div class="vision-container">
      <div class="vision-header">
        <h5>The Vision</h5>
      </div>
      <div class="vision-body">
        <h2>The Pool of Printables</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa.</p>
      </div>
    </div>
    <div class="benefits-body">
      <div class="benefits">
        <div class="benefit">
          <div class="benefit-icon">
            <i class="fas fa-hand-spock"></i>
          </div>
          <div class="benefit-title">
            <h4>Benefit 1</h4>
          </div>
          <div class="benefit-description">
            <p>Oh wow this is a very good benefit, I guess I should sign up right away!</p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-icon">
            <i class="fas fa-hand-peace"></i>
          </div>
          <div class="benefit-title">
            <h4>Benefit 2</h4>
          </div>
          <div class="benefit-description">
            <p>Oh wow this is a very good benefit, I guess I should sign up right away!</p>
          </div>
        </div>
        <div class="benefit">
          <div class="benefit-icon">
            <i class="fas fa-hand-lizard"></i>
          </div>
          <div class="benefit-title">
            <h4>Benefit 3</h4>
          </div>
          <div class="benefit-description">
            <p>Oh wow this is a very good benefit, I guess I should sign up right away!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-howto">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="howto-header">
          <div class="howto-header-title">
            <h3>The platform that allows you to collectively fund ready-to-print 3D designs</h3>
          </div>
          <div class="howto-header-description">
            <p>PoP is the world's first 3D designs crowdfunding platform. We connect 3D printer owners with common needs so they can find their tested 3D designers to get the job done.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="howto-col-container">
        <div class="col-md-6 col-lg-5">
          <div class="howto-step first-step">
            <div class="step-container">
              <div class="step-header-icon">
                <%= image_tag "step1.svg" %>
              </div>
              <div class="step-content">
                <h4>Browse through hundred of requests</h4>
                <p>Our geometry analyser will give you instant feedback on manufacturability, suggesting the best processes based on your parts design.</p>
              </div>
            </div>
          </div>
          <div class="howto-step second-step">
            <div class="step-container">
              <div class="step-header-icon">
                <%= image_tag "step2.svg" %>
              </div>
              <div class="step-content">
                <h4>Send your request to our network of designers</h4>
                <p>Our geometry analyser will give you instant feedback on manufacturability, suggesting the best processes based on your parts design.</p>
              </div>
            </div>
          </div>
          <div class="howto-step third-step">
            <div class="step-container">
              <div class="step-header-icon">
                <%= image_tag "step3.svg" %>
              </div>
              <div class="step-content">
                <h4>Get your 3D design in a ready-to-print quality</h4>
                <p>Our geometry analyser will give you instant feedback on manufacturability, suggesting the best processes based on your parts design.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="howto-map">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-populars">
  <div class="container">
    <div class="home-populars-title">
      <h2>Trending now</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="home-popular-container">
          <%= link_to "https://www.thingiverse.com/thing:2194278", target: :_blank do %>
            <div class="home-popular-image">
              <%= image_tag "https://cdn.thingiverse.com/renders/e1/2a/7c/aa/f8/a81bf47f0dfc6a21441c25cfdd5b6302_preview_featured.jpg" %>
            </div>
            <div class="home-popular-title">
              <h4>Modular Mounting System</h4>
            </div>
            <div class="home-popular-description">
              <p>This project is a mounting system for phones and lightweight cameras. With the potential to mount most phones and small cameras onto a wide range of objects...</p>
            </div>
            <div class="home-popular-date">
              <p>19 July 2018</p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="home-popular-container">
          <%= link_to "https://www.thingiverse.com/thing:2014307", target: :_blank do %>
            <div class="home-popular-image">
              <%= image_tag "https://cdn.thingiverse.com/renders/ec/0e/f7/36/7b/4347d727daa5d601bdca6fa6e2c4ce16_preview_featured.jpg" %>
            </div>
            <div class="home-popular-title">
              <h4>Baby Groot Action Figure</h4>
            </div>
            <div class="home-popular-description">
              <p>The model resembles the baby groots appearance in the trailers of the movie. I recommend using the high detail version to capture all the details I put on...</p>
            </div>
            <div class="home-popular-date">
              <p>03 August 2018</p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="home-popular-container">
          <%= link_to "https://www.thingiverse.com/thing:2864118", target: :_blank do %>
            <div class="home-popular-image">
              <%= image_tag "https://cdn.thingiverse.com/renders/ff/e4/db/17/3d/e09bdbd260eb7872667aab80a5331ed5_preview_featured.JPG" %>
            </div>
            <div class="home-popular-title">
              <h4>Original Prusa i3 MK3 Enclosure</h4>
            </div>
            <div class="home-popular-description">
              <p>Maybe you have already seen some of those fancy enclosures people build for their printers. How do they work? And do they work...</p>
            </div>
            <div class="home-popular-date">
              <p>13 August 2018</p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="home-popular-container">
          <%= link_to "https://www.thingiverse.com/thing:2448911", target: :_blank do %>
            <div class="home-popular-image">
              <%= image_tag "https://cdn.thingiverse.com/renders/53/1c/15/a6/6b/13f8303b92ae94f89af3d8c489be67ff_preview_featured.jpg" %>
            </div>
            <div class="home-popular-title">
              <h4>Modular Stacking Planter</h4>
            </div>
            <div class="home-popular-description">
              <p>Plantygon is a modular geometric stacking planter. Designed to accommodate my growing collection of succulents, it is based on the truncated octohedron...</p>
            </div>
            <div class="home-popular-date">
              <p>18 August 2018</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
