<div class="container project-show-container">
<div class="project-show-header-wrapper">
  <h2>Project: <%= @project.request.design.name %></h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div>
        <% if @project.file %>
          <%= cl_image_tag @project.file, class: "project-file" %>
        <% else %>
        <div class="project-status-project-show">Project Status: <%= @project.status %></div>
          <img src="https://res.cloudinary.com/lancekrp/image/upload/v1534162640/no_image.png" alt="no_upload" style: width 100% >

        <% end %>
      </div>
      <% if policy(@project).update? && !@project.file %>
        <div class="project-show-upload-area">
        <h3>Your contributors are waiting!</h3>
        <form method="POST" action="" enctype="multipart/form-data">
        <strong>Upload file:</strong>
        <input type="file" name="file" />
        <input type="submit" value="Upload" class="button" />
        </form>
      </div>
      <% end %>
      <% if @project.request.kind == :improve %>
        <%= link_to "See original design", design_path(@project.request.design.id), class: "button" %>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="project-show-project-details-wrapper">
        <div>
          <p>Designer for this project is:</p>
          <div>
            <%= link_to user_page_path(@project.user) do  %>
              <%= cl_image_tag @project.user.photo, class: "avatar large" %>
              <%= @project.user.full_name %>
            <% end %>
          </div>
        </div>
        <div>
          <h4>Request description:</h4>
          <%= @project.request.description %>
        </div>
      </div>
      <div class="project-show-project-details-project-footer-project">
        <p><strong>Pool amount: <%= @project.accepted_price %></strong></p>
        <p>This project was made possible thanks to:</p>
        <% @contributors.uniq.each do |contributor| %>
          <%= cl_image_tag contributor.photo, class: "avatar" %>
        <% end %>

        <% if policy(@project).destroy? %>
          <%= link_to "Delete", project_path(@project), class: "button button-red", method: :delete, data: {confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<% if user_signed_in? %>
  <%= render "shared/topup-sticky" %>
<% end %>
