<h1>Project: <%= @project.request.design.name %></h1>

<div class="container">
  <div>
    <%= image_tag @project.user.photo, class: "avatar" %>
  </div>
  <div class="class-image">
    <% if @project.file %>
      <%= image_tag @project.file %>
    <% else %>
      <img src="http://www.toezonefootwear.com/ToezoneIndonesia/protected/resources/assets/images/600px-No_image_available.png" alt="no_upload" style:>
      <%= @project.status %>
    <% end %>
  </div>

  <%= link_to "See original design", design_path(@project.request.design.id) %>

  <div >
    <h4>Request description</h4>
  <%= @project.request.description %>
    <div>
      <% @project.request.contributions.each do |contribution| %>
        <%= image_tag contribution.user.photo, class: "avatar small" %>
      <% end %>
    </div>
    <div>
      <p>Pool amount: <%= @project.accepted_price %></p>
    </div>
  </div>
</div>
