<div class="container-fluid designs-index-container">
  <div class="row desings-page-row-padded">
    <div class="col-md-2 hidden-sm index-grid-padding sticky-container">
      <div class="index-categories">
        <h5>All Categories</h5>
        <hr>
        <% Category.all.each do |category| %>
          <ul class="designs-index-list categories">
            <li>
              <%= link_to category.name.capitalize %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 index-grid-padding">
      <div class="cards-container">
        <div class="index-searchbar">
          <%= render "shared/searchbar" %>
        </div>
        <div class="index-cards-container">
          <h2>Thingiverse Results</h2>
          <% @things.each do |thing| %>
            <%= thing.name %>
            <%= thing.description %>
            <% thing.images.each do |photo| %>
              <%= image_tag photo["sizes"][8]["url"] %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-2 hidden-sm index-grid-padding sticky-container">
      <div class="index-button-wrapper">
        <% if policy(Design).create? %>
          <%= link_to "Request New Design", new_design_path, class: "button" %>
        <% end %>
      </div>
      <div class="index-faqs">
        <h5>New to Pop?</h5>
        <hr>
        <ul class="designs-index-list">
          <li><%= link_to "How it works", "#" %></li>
          <li><%= link_to "P2P economy", "#" %></li>
          <li><%= link_to "FAQ's", "#" %></li>
          <li><%= link_to "Top Up", new_user_registration_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'shared/modal' %>
</div>


